---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('December 28 2024')}
	heroImage="/blog-placeholder-about.jpg"
>
	<h2>Objective</h2>
	<p>
		Computer science graduate with a passion for technical writing and software testing. Dedicated to lifelong learning, and eager to solve complex problems.
	</p>

	<h2>Professional Experience</h2>
	<h3>TeleOperations Coordinator at Zoox</h3>
	<p>July 2023 - Present</p>
	<ul>
		<li>Supervising a Fleet of Robotaxi vehicles</li>
		<li>Proctoring Software-In-The-Loop training</li>
		<li>Creating technical how-to-guides for remote operators</li>
		<li>Scheduling R&D tests for remote operators</li>
	</ul>
	<h3>TeleOperations Tactician at Zoox</h3>
	<p>February 2022 - July 2023</p>
	<ul>
		<li>Provided remote operational guidance for Level 3 and 4 autonomous vehicles in complex driving scenarios.</li>
		<li>Diagnosed and resolved system faults with our in-house software</li>
		<li>Tested and validated reliability and performance of new software releases across L3 autonomous vehicle fleet.</li>
		<li>Optimized operational efficiency by developing an automation script to consolidate and launch mission-critical applications.</li>
		<li>Developed comprehensive Looker dashboards to streamline video and report audit processes.</li>
	</ul>

	<h2>Education</h2>		
	<h3>Bachelor of Science, Computer Science and Engineering, May 2021.</h3>
	<p>University of California, Merced</p>
	<ul>
		<li>Algorithm Design and Analysis</li>
		<li>Computer Architecture</li>
		<li>Object Oriented Programming</li>
		<li>Software Engineering</li>
		<li>Database Systems</li>
		<li>Operating Systems</li>
		<li>Mobile Computing</li>
		<li>Artificial Intelligence</li>
		<li>Probability and Statistics</li>
		<li>Linear Algebra and Differential equations</li>
	</ul>

	<h3>Nanodegree in Full Stack Web Development, 2021.</h3>
	<p>Udacity Online Course</p>
	<ul>
		<li>Express JS API and PostgreSQL database</li>
		<li>Angular Single-Page Application</li>
		<li>Deployment of full-stack app on AWS</li>
	</ul>

	<h2>Skills</h2>
	<ul>
		<li>Technical Writing</li>
		<li>Software Testing</li>
		<li>Project Management</li>
		<li>Data Analysis</li>
		<li>Web Development</li>
	</ul>
	
	<!-- <h2>Projects</h2>
	<p>Here are a few ideas on how to get started with the template:</p>
	<ul>
		<li>Edit this page in <code>src/pages/index.astro</code></li>
		<li>Edit the site header items in <code>src/components/Header.astro</code></li>
		<li>Add your name to the footer in <code>src/components/Footer.astro</code></li>
		<li>Check out the included blog posts in <code>src/content/blog/</code></li>
		<li>Customize the blog post page layout in <code>src/layouts/BlogPost.astro</code></li>
	</ul> -->
</Layout>
